#house{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
#container{
    display: grid;
    width: 700px;
    height: 700px;
    border: 1px solid black;
    background-color: black;
}
.hover{
    background: black;
}
.grid{
    text-align: center;
    background:white; 
    border: 1px solid black; 
}
#header{
    text-align: center;
}